streamlit
altair==4.2.2

langchain==0.1.16
langchain-community==0.0.32
langchain-text-splitters==0.0.1
langchain-openai
langchain-huggingface
langchain-chroma
langchain-groq

python-dotenv

pypdf
pymupdf
bs4
arxiv
wikipedia

chromadb
faiss-cpu
sentence-transformers
huggingface_hub

duckdb
pandas
numexpr

duckduckgo_search==5.3.1b1
validators==0.28.1
youtube-transcript-api>=0.6.3
pytube
yt-dlp
requests

SQLAlchemy
mysql-connector-python
